$font-stack: 'Poppins', san-serif;
$primary-color-blue: #007EA7;
$primary-color-dark-blue: #003459;
$primary-color-light-blue: #00A8E8;
$primary-color-darker-blue: #00171F;

.bg_darker_blue {
  background-color: $primary-color-darker-blue;
}

.bg_white {
  background-color: #ffffff;
}

.bg_darker_blue {
  background-color: $primary-color-darker-blue;
}

.full_screen {
  width: 100%;
  height:100vh
}

%button {
  border-radius: 10px;
  color: white;
  display: flex;
  align-items: center;
  font-size: 12px;
  width: 100%;
  height: 42px;
  border: none;
  letter-spacing: 1px;
  transition: all .3s;
  padding: 12px 25px;
  white-space: nowrap;
}

button .icon {
  margin-right: 30px;
}

%smallButton {
  border-radius: 10px;
  border: none;
  transition: all .3s;
  width: 48px;
  height: 42px;
}

%centralized {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centralized {
  @extend %centralized;
}

body {
  box-sizing: border-box;
  margin: 0;
}

.primaryButton {
  background-color: $primary-color-dark-blue;
  @extend %button;
}

.primaryButton:hover {
  background-color: #406782;
  @extend %button;
}

.primaryButton:active {
  background-color: $primary-color-blue;
  @extend %button;
}

.primaryButton:disabled {
  background-color: #BFCCD6;
  @extend %button;
}

.secondaryButton {
  background-color: #ffffff;
  @extend %button;
  border: solid 1px #000000;
  color: #000000;
}

.secondaryButton:hover {
  background-color: #ffffff;
  @extend %button;
  border: solid 1px #808B8F;
  color: #808B8F;
}

.secondaryButton:active {
  background-color: #ffffff;
  @extend %button;
  border: solid 1px $primary-color-blue;
  color: $primary-color-blue;
}

.secondaryButton:disabled {
  background-color: #ffffff;
  @extend %button;
  border: solid 1px #BFC5C7;
  color: #BFC5C7;
}

.primaryButtonAdd {
  background-color: $primary-color-dark-blue;
  @extend %button;
  @extend %centralized;
}

.primaryButtonAdd img, .secondaryButtonAdd img {
  margin-right: 15px;
}

.primaryButtonAdd:hover {
  background-color: #406782;
  @extend %button;
}

.primaryButtonAdd:active {
  background-color: $primary-color-blue;
  @extend %button;
}

.primaryButtonAdd:disabled {
  background-color: #BFCCD6;
  @extend %button;
}

.secondaryButtonAdd {
  background-color: #00171F;
  @extend %button;
  @extend %centralized;
}

.secondaryButtonAdd:hover {
  background-color: #405157;
  @extend %button;
}

.secondaryButtonAdd:active {
  background-color: #808B8F;
  @extend %button;
}

.secondaryButtonAdd:focus {
  background-color: #808B8F;
  @extend %button;
}

.secondaryButtonAdd:disabled {
  background-color: #BFC5C7;
  @extend %button;
}

.smallBlue {
  background-color: $primary-color-dark-blue;
  @extend %smallButton;
}

.smallBlue:hover {
  background-color: #406782;
}

.smallBlue:active {
  background-color: $primary-color-blue;
}

.smallRed {
  background-color: #590030;
  @extend %smallButton;
}

.smallRed:hover {
  background-color: #77415d;
}

.smallRed:active {
  background-color: #ab0032;
}

.smallDark {
  background-color: #00171F;
  @extend %smallButton;
}

.smallDark:hover {
  background-color: #3c4f56;
}

.smallDark:active {
  background-color: #02667a;
}

//таблица

.table-main{
  box-shadow: 0px 5px 11px 4px rgba(34, 60, 80, 0.2);
  border-radius: 10px;
  font-size: 12px;
  
}

.table-header{
  background-color: #F5F5F5;
  height: 32px;
}

.table-header div:first-child{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: inherit;
}

.table-header div:first-child div{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: inherit;
}

.table-body div{
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #F5F5F5;
  height: 64px;
}

.table-body div div{
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.table-body div .checkbox-group{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: inherit;
  justify-content: space-evenly;
}

.pagination{
  display: flex;
  flex-direction: row;
  height: 68px;
  align-items: center;
  justify-content: space-around;
}

.count-of-elements{
  font-size: 14px;
  font-weight: lighter;
  
  color: #747474;
  width: 90px;
}

.pages{
  width: 220px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.ellipsis{
  
  color: #007EA7;
  font-weight: bold;
}

.pagination-btn{
  border: none;
  background-color: unset;
  color: #007EA7;
  font-weight: bold;
  margin-left: 6px;
}
.active-pagination-btn{
  font-weight: lighter;
  background-color: #007EA7;
  border-radius: 50%;
  color: white;
  width: 32px;
  height: 32px;
}

.delete-btn{
  width: 144px;
  height: 42px;
}

.delete-btn button{
  border: none;
  width: 100%;
  height: 100%;
  background-color: #007EA7;
  color: white;
  font-size: 12px;
  font-weight: lighter;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
}

.delete-btn button:disabled{
  background-color: #BFCCD6;
}

.delete-btn button img{
  width: 16px;
  height: 18px;
  margin-left: 22px;
  margin-right: 12px;
}


// checkbox

.checkbox-group{
  display: block;
}

.checkbox-group input[type=checkbox]{
  width: 20px;
  height: 20px;
}

// input

.forms-group{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.forms-group label{
  margin-left: 20px;
  font-size: 16px;
}

.forms-group input{
  border-radius: 10px;
  border: 2px solid black;
  padding: 13px 13px 13px 20px;
  outline: unset;
}

.forms-group .container-password{
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.forms-group .container-password input{
  padding: 13px 0 13px 20px;
  border: none;
  outline: unset;
  width: 77%;
}

.forms-group .container-password button{
  border: none;
  background: unset;
  display: flex;
  align-items: center;
}
.forms-group .container-password button img{
  width: 20px;
  height: 16px;
  margin-right: 13px;
}

@font-face {
  font-family: 'Poppins';
  src: local("OpenSans"),
  url("../assets/font/Poppins-Regular.ttf") format('trutype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 100;
  src: local("OpenSans"),
  url("../assets/font/Poppins-Thin.ttf") format('trutype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 300;
  src: local("OpenSans"),
  url("../assets/font/Poppins-Light.ttf") format('trutype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  src: local("OpenSans"),
  url("../assets/font/Poppins-Medium.ttf") format('trutype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  src: local("OpenSans"),
  url("../assets/font/Poppins-Bold.ttf") format('trutype');
}