$font-stack: 'Poppins', san-serif;
$primary-color-blue: #007EA7;
$primary-color-dark-blue: #003459;
$primary-color-light-blue: #00A8E8;
$primary-color-darker-blue: #00171F;

.mt-20 {
  margin-top: 20px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-38 {
  margin-top: 38px;
}

.mt-42 {
  margin-top: 42px;
}

.mt-96 {
  margin-top: 96px;
}

.mr-58 {
  margin-right: 58px;
}

.mr-34 {
  margin-right: 34px;
}

.mb-16{
  margin-bottom: 16px;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

a{
  text-decoration: none;
}

.bg_darker_blue {
  background-color: $primary-color-darker-blue;
}

.bg_white {
  background-color: #ffffff;
}

.bg_darker_blue {
  background-color: $primary-color-darker-blue;
}

.full_screen {
  width: 100%;
  height:100vh
}

%button {
  border-radius: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  width: 100%;
  height: 42px;
  border: none;
  letter-spacing: 1px;
  transition: all .3s;
  padding: 12px 25px;
  white-space: nowrap;
}

button .icon {
  margin-right: 15px;
}

%smallButton {
  border-radius: 10px;
  border: none;
  transition: all .3s;
  width: 48px;
  height: 42px;
}

%centralized {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centralized {
  @extend %centralized;
}

body {
  box-sizing: border-box;
  margin: 0;
}

.primaryButton {
  background-color: $primary-color-dark-blue;
  @extend %button;
}

.primaryButton:hover {
  background-color: #406782;
  @extend %button;
}

.primaryButton:active {
  background-color: $primary-color-blue;
  @extend %button;
}

.primaryButton:disabled {
  background-color: #BFCCD6;
  @extend %button;
}

.secondaryButton {
  background-color: #ffffff;
  @extend %button;
  border: solid 1px #000000;
  color: #000000;
}

.secondaryButton:hover {
  background-color: #ffffff;
  @extend %button;
  border: solid 1px #808B8F;
  color: #808B8F;
}

.secondaryButton:active {
  background-color: #ffffff;
  @extend %button;
  border: solid 1px $primary-color-blue;
  color: $primary-color-blue;
}

.secondaryButton:disabled {
  background-color: #ffffff;
  @extend %button;
  border: solid 1px #BFC5C7;
  color: #BFC5C7;
}

.primaryButtonAdd {
  background-color: $primary-color-dark-blue;
  @extend %button;
  @extend %centralized;
}

.primaryButtonAdd img, .secondaryButtonAdd img {
  margin-right: 15px;
}

.primaryButtonAdd:hover {
  background-color: #406782;
  @extend %button;
}

.primaryButtonAdd:active {
  background-color: $primary-color-blue;
  @extend %button;
}

.primaryButtonAdd:disabled {
  background-color: #BFCCD6;
  @extend %button;
}

.secondaryButtonBlack {
  background-color: #00171F;
  @extend %button;
  @extend %centralized;
}

.secondaryButtonBlack:hover {
  background-color: #405157;
  @extend %button;
}

.secondaryButtonBlack:active {
  background-color: #808B8F;
  @extend %button;
}

.secondaryButtonBlack:disabled {
  background-color: #BFC5C7;
  @extend %button;
}

.secondaryButtonAdd {
  background-color: #00171F;
  @extend %button;
  @extend %centralized;
}

.secondaryButtonAdd:hover {
  background-color: #405157;
  @extend %button;
}

.secondaryButtonAdd:active {
  background-color: #808B8F;
  @extend %button;
}

.secondaryButtonAdd:disabled {
  background-color: #BFC5C7;
  @extend %button;
}

.secondaryLightButton{
  background-color: unset;
  border: 1px solid white;
  @extend %button;
}

.smallWhite {
  background-color: white;
  border: solid 1px #000000;
  color: #000000;
  @extend %smallButton;
}

.smallWhite:hover {
  background-color: white;
  border: solid 1px #808B8F;
  color: #808B8F;
  @extend %smallButton;
}

.smallWhite:active {
  background-color: #ffffff;
  border: solid 1px #BFC5C7;
  color: #BFC5C7;
  @extend %smallButton;
}


.smallBlue {
  background-color: $primary-color-dark-blue;
  @extend %smallButton;
}

.smallBlue:hover {
  background-color: #406782;
  @extend %smallButton;
}

.smallBlue:active {
  background-color: $primary-color-blue;
  @extend %smallButton;
}

.smallBlue:disabled {
  background-color: #BFCCD6;
  @extend %smallButton;
}

.smallRed {
  background-color: #590030;
  @extend %smallButton;
}

.smallRed:hover {
  background-color: #77415d;
}

.smallRed:active {
  background-color: #ab0032;
}

.smallRed:disabled {
  background-color: #D6BFCB;
}

.smallDark {
  background-color: #00171F;
  @extend %smallButton;
}

.smallDark:hover {
  background-color: #3c4f56;
}

.smallDark:active {
  background-color: #02667a;
}

.line-blue{
  border-radius: 10px;
  width:100%;
  height: 4px;
  background: #007EA7;
}

//таблица
.container-table{
  margin: auto;
}

.table-main{
  box-shadow: 0px 5px 11px 4px rgba(34, 60, 80, 0.2);
  border-radius: 10px;
  font-size: 12px;
  margin: 0;
}

.table-header{
  background-color: #F5F5F5;
  height: 32px;
}

.table-header div:first-child{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: inherit;
}

.table-header div:first-child div{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: inherit;
}

.table-body div{
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #F5F5F5;
  height: 64px;
}

.table-body div div{
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.table-body div .checkbox-group{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: inherit;
  justify-content: space-evenly;
}

.table-body button img{
 margin: 0;
}

.pagination{
  display: flex;
  flex-direction: row;
  height: 68px;
  align-items: center;
  justify-content: space-around;
}

.count-of-elements{
  font-size: 14px;
  font-weight: lighter;
  color: #747474;
  width: 90px;
}

.pages{
  width: 220px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.ellipsis{
  color: #007EA7;
  font-weight: bold;
}

.pagination-btn{
  border: none;
  background-color: unset;
  color: #007EA7;
  font-weight: bold;
  transition: color 1s;
}
.active-pagination-btn{
  font-weight: lighter;
  background-color: #007EA7;
  border-radius: 50%;
  color: white;
  width: 32px;
  height: 32px;
}

.delete-btn{
  width: 144px;
  height: 42px;
}

.delete-btn button{
  border: none;
  width: 100%;
  height: 100%;
  background-color: #007EA7;
  color: white;
  font-size: 12px;
  font-weight: lighter;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  transition: background-color 0.5s;
}

.delete-btn button:disabled{
  background-color: #BFCCD6;
}

.delete-btn button img{
  width: 16px;
  height: 18px;
  margin-left: 22px;
  margin-right: 12px;
}
.searching-container{
  display: flex;
  flex-direction: row;
  width: 370px;
  height: 42px;
  align-items: center;
  border: 2px solid #747474;
  border-radius: 10px;
  margin-bottom: 13px;
}

.searching-container img{
  width: 16px;
  height: 16px;
  margin-right: 10px;
  margin-left: 12px;
}
.searching-container input{
  font-size: 14px;
  border: unset;
  outline: unset;
  width: 85%;
}


// checkbox

//.checkbox-group{
//  display: block;
//}
//
//.checkbox-group input[type=checkbox]{
//  width: 20px;
//  height: 20px;
//}

.checkbox-group {
  display: inline-flex;
  align-items: center;
  position: relative;
  font-size: 16px;
  color: #333;
}

.checkbox-group input {
  position: absolute;
  opacity: 0;
}

.checkmark {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #eee;
  border-radius: 4px;
  margin-right: 10px;
  transition: background-color 0.3s;

}

.checkbox-group input:checked ~ .checkmark {
  background-color: #2196f3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-group input:checked ~ .checkmark:after {
  display: block;
  left: 7px;
  top: 2px;
  width: 5px;
  height: 11px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}


// input

.forms-group{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.forms-group label{
  font-size: 16px;
  font-weight: 500;
}

.forms-group input{
  border-radius: 10px;
  border: 1px solid black;
  padding: 13px 13px 13px 20px;
  outline: unset;
}

.forms-group textarea{
  border-radius: 10px;
  border: 1px solid black;
  padding: 13px 13px 13px 20px;
  outline: unset;
  resize: none;
}


.forms-group .container-password{
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.forms-group .container-password input{
  padding: 13px 0 13px 20px;
  border: none;
  outline: unset;
  width: 77%;
}

.forms-group .container-password button{
  border: none;
  background: unset;
  display: flex;
  align-items: center;
}
.forms-group .container-password button img{
  width: 20px;
  height: 16px;
  margin-right: 13px;
}

// notification

.notification {
  height: 100vh;
  width: 430px;
  background-color: #ffffff;
  position: fixed;
  transition: right .3s;
  right: 0;
  top: 0;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.notificationClosed {
  right: -490px;
}

.notificationItem {
  display: flex;
  align-items: start;
  padding: 8px 10px;
}

.notificationItem img {
  margin: 0 10px;
}

.redText {
  color: #590030;
  padding-left: 10px;
}

.commentData {
  padding: 5px 7px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-size: 12px;
}

.notification p, .notification h5 {
  margin: 0;
}

.notification h5 {
  font-size: 14px;
  line-height: 120%;
}

.notification span, .notification p {
  font-size: 12px;
  font-weight: normal;
}

.notification span {
  color: #747474;
}

.darker {
  filter: brightness(50%);
}


// dropdown
.dropdown-container{
width: 100%;
}
.dropdown{
  width: 100%;
  position: relative;
}

.dropdown-label{
  font-weight: 500;
  font-size: 16px;
}

.dropdown .dropdown-btn{
  padding: 10px;
  background: #ffffff;
  border-radius: 10px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #808B8F;
  height: 45px;
  box-sizing: border-box;
}

.dropdown .dropdown-btn-active{
  border-bottom: unset;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.dropdown .dropdown-btn img{
  width: 20px;
  height: 10px;
}

.dropdown ul {
  z-index: 1001;
  position: absolute;
  top: 56%;
  left: 0;
  background: #ffffff;
  border: 1px solid black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #333;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  max-height: 240px;
  overflow-y: scroll;
  scrollbar-gutter: stable;
}

.dropdown ul::-webkit-scrollbar{
  width: 3px;
  display: none;
}

.dropdown ul::-webkit-scrollbar-thumb{
  background-color: #00A8E8;
  border-radius: 10px;
}
.dropdown ul::-webkit-scrollbar-track{
  scroll-padding-block-end: 10px;
}

.dropdown ul li{
  list-style-type: none;
  transition: color 0.3s;
  width: 100%;
  height: 48px;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid black;
  padding-left: 10px;
  box-sizing: border-box;
}

.dropdown ul li:last-child{
  border: unset;
}

.dropdown ul li:hover{
  color: #808B8F;
  cursor: pointer;
}

// убрать скролл
.hidden-scroll{
  overflow-y: scroll;
}
.hidden-scroll::-webkit-scrollbar{
  width: 3px;
  display: none;
}

// radio button

.radio-group {
  display: inline-flex;
  align-items: center;
  position: relative;
  font-size: 16px;
  color: #333;
}

.radio-group {
   font-size: 14px;
}

.radio-group input {
  position: absolute;
  opacity: 0;
}

.radio-group .checkmark {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.radio-group input:checked ~ .checkmark {
  background-color: #2196f3;
}

.radio-group .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-group input:checked ~ .checkmark:after {
  display: block;
  top:5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
}

// file picker

.file-group{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: max-content;
}

.file-group input{
  position: absolute;
  opacity: 0;
}

.file-group .file-label{
  font-size: 18px;
}

.file-group .file-input{
  width: 203px;
  height: 48px;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
}

.file-group .file-input img{
  margin-left: 15px;
  margin-right: 20px;
}

.file-group .value{
  margin-left: 20px;
  font-size: 18px;
  color: #007EA7;
}

.space-between{
  justify-content: space-between;
}

@font-face {
  font-family: 'Poppins';
  src: local("OpenSans"),
  url("../assets/font/Poppins-Regular.ttf") format('trutype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 100;
  src: local("OpenSans"),
  url("../assets/font/Poppins-Thin.ttf") format('trutype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 300;
  src: local("OpenSans"),
  url("../assets/font/Poppins-Light.ttf") format('trutype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  src: local("OpenSans"),
  url("../assets/font/Poppins-Medium.ttf") format('trutype');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  src: local("OpenSans"),
  url("../assets/font/Poppins-Bold.ttf") format('trutype');
}