.loginBlock {
  padding: 100px 50px;
  display: flex;
  border-radius: 40px;
}

.loginBlock aside {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginBlock aside h2 {
  font-size: 32px;
  font-weight: bold;
}

.loginBlock aside input {
  margin-bottom: 32px;
  width: 300px;
}

.container-password {
  margin-bottom: 32px;
}

.container-password input {
  margin-bottom: 0 !important;
}

.loginBlock .logo {
  margin-right: 60px;
}

.loginBlock a {
  font-size: 12px;
  color: #00171F;
  align-self: end;
  margin-top: 25px;
  margin-right: 18px;
}

.loginBlock a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.errorMassage {
  text-align: center;
  font-size: 12px;
  color: #d00000;
}
