nav {
  padding: 30px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav aside {
  display: flex;
}

nav aside button {
  width: 144px !important;
  margin-left: 50px;
}

nav aside button:first-of-type {
  border: 1px solid #007EA7;
  color: #007EA7;
}

nav aside button:first-of-type:hover {
  border: 1px solid #007EA7;
  color: #007EA7;
}