nav {
  padding: 30px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: normal;
}

nav aside {
  display: flex;
}

nav aside button {
  width: 144px !important;
  margin-left: 50px;
}

nav aside button:first-of-type {
  border: 1px solid #007EA7;
  color: #007EA7;
}

nav aside button:first-of-type:hover {
  border: 1px solid #007EA7;
  color: #007EA7;
}

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}

h2, h4 {
  margin: 0;
}

h2 {
  font-size: 32px;
}

h4 {
  color: #828282;
}

h4, span {
  font-size: 18px;
  font-weight: bold;
}

.userInfo {
  display: flex;
  justify-content: center;
  padding-bottom: 42px;
  border-bottom: solid 2px #007EA7;
  margin: 0 30px;
}

.userAvatar {
  width: 300px;
  min-width: 300px;
  height: 300px;
  border-radius: 10px;
  background-color: #ffffff;
  margin-right: 70px;
  box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.25);
}

.userAvatar img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
}

.tableProfile {
  margin: 40px 30px;
  width: 100%;
}

.createPlan {
  display: flex;
  justify-content: flex-end;
  width: 1150px;
  margin-bottom: 20px;
}

.createPlan .file-input, .createPlan .file-group {
  height: 42px;
}

.createPlan .file-group {
  margin-right: 50px;
}

.profileEditBtnParent {
  align-self: flex-end;
}

.profileEditBtn {
  background-color: #007EA7;
  padding: 13px 19px !important;
}

.profileEditBtn img {
  margin: 0;
}

.editProfileBox {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1001;
}

.editProfileData {
  background-color: white;
  border-radius: 15px;
  padding: 26px 20px;
}

.editProfileData section {
  display: flex;
  align-items: center;
  width: 100%;
}

.displayNone {
  display: none;
}

.editProfileHeader {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.editProfileHeader h1 {
  font-size: 32px;
  color: #007EA7;
  margin: 0;
}

.editProfileHeader div:first-of-type {
  visibility: hidden;
}

.editProfileData .forms-group {
  margin-right: 45px;
}

.editProfileData .dropdown-container {
  margin-right: 34px;
}

.editProfileData .forms-group:last-of-type {
  margin-right: 0;
}

.editProfileData section {
  margin-top: 15px;
}

.editButtons {
  display: flex;
  justify-content: center;
}

.userData {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.approve {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.approveBlock {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  padding: 15px;
}

.approveBlock div {
  display: flex;
  width: 100%;
  justify-content: center;
}

.approveBlock div button {
  margin-bottom: 25px;
  margin-top: 23px;
}

.approveBlock div button:first-of-type {
  margin-right: 34px;
}

.approveBlock p {
  text-align: center;
  margin: 15px 100px 23px 100px;
  font-size: 18px;
  font-weight: bold;
}

.selectPartRevision p {
  font-weight: normal;
  margin: 0;
  text-align: start;
}

.selectPartRevision .checkbox-group:first-of-type {
  margin: 15px 30px 20px 10px;
  white-space: nowrap;
}

.selectPartRevision .checkbox-group:last-of-type {
  margin: 0 30px 20px 10px;
  white-space: nowrap;
}
