nav {
  padding: 30px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: normal;
}

nav aside {
  display: flex;
}

nav aside button {
  width: 144px !important;
  margin-left: 50px;
}

nav aside button:first-of-type {
  border: 1px solid #007EA7;
  color: #007EA7;
}

nav aside button:first-of-type:hover {
  border: 1px solid #007EA7;
  color: #007EA7;
}

main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}

h2, h4 {
  margin: 0;
}

h2 {
  font-size: 32px;
}

h4 {
  color: #828282;
}

h4, span {
  font-size: 18px;
  font-weight: bold;
}

.userInfo {
  display: flex;
  justify-content: center;
  padding-bottom: 42px;
  border-bottom: solid 2px #007EA7;
}

.userAvatar {
  width: 300px;
  min-width: 300px;
  height: 300px;
  border-radius: 10px;
  background-color: #ffffff;
  margin-right: 70px;
  box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.25);
}

.tableProfile {
  margin: 40px 0;
  width: 100%;
}

.createPlan {
  display: flex;
  align-self: flex-end;
  padding-right: 20%;
  margin-bottom: 20px;
}

.profileEditBtnParent {
  align-self: flex-end;
}

.profileEditBtn {
  background-color: #007EA7;
  padding: 13px 19px !important;
}

.profileEditBtn img {
  margin: 0;
}

.editProfileBox {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1001;
}

.editProfileData {
  background-color: white;
  border-radius: 15px;
  padding: 26px 20px;
}

.editProfileData section {
  display: flex;
  align-items: center;
  width: 100%;
}

.displayNone {
  display: none;
}

.editProfileHeader {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.editProfileHeader h1 {
  font-size: 32px;
  color: #007EA7;
  margin: 0;
}

.editProfileHeader div:first-of-type {
  visibility: hidden;
}

.editProfileData .forms-group {
  margin-right: 45px;
}

.editProfileData .dropdown-container {
  margin-right: 34px;
}

.editProfileData .forms-group:last-of-type {
  margin-right: 0;
}

.editProfileData section {
  margin-top: 15px;
}
